.test-body {
    padding-top: 60px;
    display:flex;
    margin: 0px;
}
.container {
    margin-top: 33px;
    margin-left: 73px;
    flex:1;
    color: #254059;
    padding: 0px;
}
h2  {
    font-size: 18px;
}
.moveleft {
    float:left;
}
.flex-spacer {
    margin-left: 144px;;
}
.innernavbar a {
    color:#AAAAAA;
    text-decoration: none;
    font-size: 14px;
}
.disp .btn {
    background-color: #FFFFFF;
    border-color: #6011f5;
    color:#6011f5;
    font-size: 11px;
    width: 88px;
    height: 29px;
    transform: translateX(44%);
    margin-top: 15px;
}
.disp {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    margin-top: 26px;
}
.disp .content {
    background-image: url('../../../assets/images/login-face-icon.svg');
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: 70px 33px;
    background-color: #FFFFFF;
    width: 203px;
    height: 211px;
    margin-right: 10px;
    margin-bottom: 10px; 
    padding:20px;
    box-shadow: 0px 1px 0px #D9D9D9;
    border-radius: 3px; 
}
.disp span {
    display: block;
    margin-top: 80px;
    font-size: 16px;
    color: #254059;
    text-align: center;
}
._moveleft {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
._moveright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.dropdown-menu {
    margin: 0px;
    margin-top: -211px;
    padding: 19px;
    width: 353px;
    z-index: 1;
}
.dropdown-item {
    font: 14px/17px Sofia Pro;
    letter-spacing: 0px;
    color: #254059;
    margin:0px;
    padding: 0px;
    width: 353px;
    margin-bottom: 13px;
}
.changeaddr {
    font: Semi Bold 16px/19px Sofia Pro;
    letter-spacing: 0px;
    color: #8395A5;
    margin-right: 142px;
    margin-bottom: 0px;
}