<mat-toolbar class="nav-bar mat-toolbar-single-row">
    <div  class="flex-spacer"></div>
    <a routerLink="/" mat-button>Home</a>
    <a routerLink="/events" mat-button >Events</a>
    <a mat-button routerLink="/bag">Bag</a>
    <a mat-button routerLink="/orders">Orders</a>
    <div  class="flex-spacer1"></div>
    <span><img height="52px" src="../../../assets/images/livetv-icon.svg"></span>
    <div  class="flex-spacer2"></div>
    <span><img src="../../../assets/images/notification.svg"></span>
    <div  class="flex-spacer3"></div>
    <a routerLink="/contactdetails"><span><img src="../../../assets/images/login-face-icon.svg"></span></a>
</mat-toolbar>